$color-primary: (
  50 : #f7e4e5,
  100 : #eabdbe,
  200 : #dd9193,
  300 : #cf6467,
  400 : #c44347,
  500 : #ba2226,
  600 : #b31e22,
  700 : #ab191c,
  800 : #a31417,
  900 : #940c0d,
  A100 : #ffc3c3,
  A200 : #ff9091,
  A400 : #ff5d5e,
  A700 : #ff4345,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #ffffff,
      500 : #ffffff,
      600 : #ffffff,
      700 : #ffffff,
      800 : #ffffff,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #ffffff,
  )
);

$color-secondary: (
  50 : #fdf1e4,
  100 : #fbddbc,
  200 : #f9c78f,
  300 : #f6b062,
  400 : #f49f41,
  500 : #f28e1f,
  600 : #f0861b,
  700 : #ee7b17,
  800 : #ec7112,
  900 : #e85f0a,
  A100 : #ffffff,
  A200 : #ffeadf,
  A400 : #ffc8ac,
  A700 : #ffb792,
  contrast: (
      50 : #000000,
      100 : #000000,
      200 : #000000,
      300 : #000000,
      400 : #000000,
      500 : #000000,
      600 : #000000,
      700 : #000000,
      800 : #000000,
      900 : #ffffff,
      A100 : #000000,
      A200 : #000000,
      A400 : #000000,
      A700 : #000000,
  )
);
