@import './scss/themes/frannca/frannca.scss';

html, body { height: 100%; }
body { margin: 0; }

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
    box-shadow: 0 0 0 30px white inset !important;
    -webkit-box-shadow: 0 0 0 30px white inset !important;
}

.container {
  padding: 24px;
}

.frn-toolbar-button {
  &--primary {
    &:hover {
      background-color: $primary-600 !important;
    }
  }
}

button {
  mat-icon {
    font-size: 1.7em !important;
  }
}
