<div
  class="container"
  class.lt-sm="container--mobile"
  fxFlexFill
  fxLayout
  fxLayoutAlign="center">

  <form
    fxFlex.gt-xs="1 1 400px"
    fxFlex.lt-sm="100"
    fxLayout="column"
    fxLayoutAlign="center"
    [formGroup]="loginForm"
    (ngSubmit)="onSubmit()">

    <div class="frn-back-button">
      <button [routerLink]="['/']" mat-button>
        <mat-icon>arrow_back</mat-icon>
        Back to site
      </button>
    </div>

    <mat-card fxLayout="column">
      <div fxLayoutAlign="center">
        <h2>Login</h2>
      </div>

      <mat-form-field
        fxFlex
        appearance="outline">

        <mat-label>E-mail</mat-label>
        <input
          matInput
          formControlName="email"
          required>
        <mat-error>{{ getErrorMessage('email') }}</mat-error>
      </mat-form-field>

      <mat-form-field appearance="outline">
        <mat-label>Password</mat-label>
        <input
          matInput
          [type]="passwordInputType"
          formControlName="password"
          required>

        <button
          mat-icon-button
          matSuffix
          type="button"
          (click)="togglePasswordVisibility()"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword">

          <mat-icon>{{ passwordIconType }}</mat-icon>
        </button>
        <mat-error>{{ getErrorMessage('password') }}</mat-error>
      </mat-form-field>

      <div
        fxLayout
        fxLayoutAlign="end"
        fxLayoutGap="16px">

        <button
          color="primary"
          fxFlex="50"
          mat-flat-button>

          Log in
        </button>
      </div>
    </mat-card>

  </form>
</div>
